<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('/js/jquery-2.1.4.min.js') }}"></script>
            <script src="{{ asset('/js/js.cookie.js') }}"></script>
            <script src="{{ asset('/js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
