{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Feedback</h3>
                    <p><strong><a href="mailto:repin.sergey@gmail.com">repin.sergey@gmail.com</a></strong></p>
                    <h3>Profile</h3>
                    <p><strong><a href="https://ua.linkedin.com/in/sergey-repin-099b06a5
">LinkedIn</a></strong>
                    </p>
                    <h3>Contribute</h3>
                    <p><strong>git clone https://github.com/repsa/quiz.git</strong></p>
                </div>
            </div>
    </div>
{% endblock %}