{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h2>Welcome to MagQz!</h2>
                <h3>This application can help you to prepare to certification of Magento 1.x.</h3>
            </div>
    </div>
{% endblock %}