{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h3><span>Welcome to MagQz!</h3>
                <p>This application can help you to prepare to certification of Magento 1.x.</p>
            </div>
    </div>
{% endblock %}