{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h2>Welcome to MagQz!</h2>
                <h3>This application can help you to prepare to certification of Magento 1.x.</h3>
            </div>
            <div style="margin-top: 20px; max-width:400px">
                <a style="width: 150px" href="{{ path('new-quiz') }}" class="btn btn-primary btn-lg ">Start new quiz</a>
                <a href="{{ path('question') }}" class="btn btn-success btn-lg ">Training</a>
            </div>
    </div>
{% endblock %}