body {
    padding-top: 80px;
}

p.message {
    padding: 10px;
}
div.message {
    padding: 10px;
}

div.message ul {
    margin: auto;
}

div.buttons {
    width: auto;
}

.progress {
    text-align:center;
}

.progress-value {
    position:absolute;
    right:0;
    left:0;
}

p.additional {
    margin-left:20px;
}